
@{
    ViewData["Title"] = "AdminHome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminHome</h2>
<h3>Welcome To Admin Home</h3>
<form action="Book" methord="post">
    <input type="Submit" value="Addbook" />
</form>
