
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form action="LoginPage" method="post">

    <h1>Username</h1>
    <input type="text" name="UserName" />

    <h1>Password</h1>
    <input type="Password" name="Password" />
    <input type="submit" value="Login" />
</form>

