
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sent Feedback</h1>

<form action="/Feedback" method="post">
    <input type="submit" value="Feedback" />
</form>

