
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index2</h1>

<form action="" method="post">
    
    <h1> First Name</h1>
    <input type="text" name="FirstName" />
    <h1> Last Name</h1>
    <input type="text" name="LastName" />
    <h1> RollNo</h1>
    <input type="text" name="RollNo" />
    <h1> Department</h1>
    <input type="text" name="Department" />
    <h1> Email</h1>
    <input type="email" name="Email" />
    <h1> Password</h1>
    <input type="password" name="Password" />
    
    <br/>
    <br/>
    <input type="submit" value="Submit"/>



</form>

