
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<h2>Login</h2>

<form action="LoginPage" method="post">

    <h1 style="color:white;font-size:medium;">Username</h1>
    <input type="text" name="UserName" />

    <h1 style="color:white;font-size:medium;">Password</h1>
    <input type="Password" name="Password" />
    <input type="submit" value="Login" />
</form>

