@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>feedback</h1>

<form action="/FeedView" method="post">
    <h1>Feedback Message</h1>
    <input type="textarea" name="Message" />
    <br />
    <input type="submit" value="Sent" />
</form>