
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<h1>Add Book</h1>
<form action="AddBook" method="post">

    <h1> BookName</h1>
    <input type="text" name="BookName" />

    <h1> Author</h1>
    <input type="text" name="Author" />

    <h1> Prize</h1>
    <input type="text" name="Prize" />

    <h1> Catagory</h1>
    <input type="text" name="Category" />

    <h1> Image</h1>
    <input type="text" name="Image" />

    <br />
    <input type="submit" value="Add" />
</form>

