
@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddBook</h1>
<form action="/" method="post">
    <h1>Book Name</h1>
    <input type="text" name="BookName" />
    <h1>Author Name</h1>
    <input type="text" name="Author" />
    <h1>Book Prize</h1>
    <input type="text" name="Prize" />
    <h1>Book Category</h1>
    <input type="text" name="Category" />

    <input type="submit" name="Enter" />
</form>


