
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form action="AddBook" methord="post">

    <h1> BookName</h1>
    <input type="text" name="BookName" />

    <h1> Author</h1>
    <input type="text" name="Author" />

    <h1> Prize</h1>
    <input type="text" name=" Prize" />

    <h1> Catagory</h1>
    <input type="text" name="Category" />

    <br />
    <input type="submit" value="Add" />
</form>